.Card-question {
  box-shadow: 0 1px 8px rgb(87, 83, 83);
}

.card-flex-container1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 14, 14);
}

.card-flex-container2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(41, 27, 27);
}

.card-flex-container3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(61, 3, 3);
}

.question {
}
.question-info {
}
.answer-btn {
}

.bookmark {
  background-color: rgb(26, 24, 24);
}
